<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


<br>
<div class="1" style="text-align: center;">
    <h1>Bem-vindo a Tech Info</h1>
</div>

    <!-- Importando a imagem da pasta public -->
     <img src="/images/Frame 8.png" alt="Logo Loja" width="1920px" height="400px">

<%- include ('partials/footer.ejs') %>