<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Inicio!</h1>
    <hr>
    <p>Sistema de Loja!</p>

    <!-- Importando a imagem da pasta public -->
     <img src="/images/Frame 8.png" alt="Logo Loja" width="1920px" height="400px">

<%- include ('partials/footer.ejs') %>
