<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Tablet Samsung!</h1>

    <img src="/images/tablet.webp" alt="tablet" width="750px" height="400px">
    <hr>
    <h1></h1>
<%- include ('partials/footer.ejs') %>