<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Computador acer aspire 3!</h1>

    <img src="/images/notebook.jpg" alt="Notebook" width="750px" height="400px">
    <hr>
    <h1></h1>
<%- include ('partials/footer.ejs') %>