<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Computador Gamer!</h1>

    <img src="/images/pcgamer.webp" alt="Computador" width="750px" height="400px">
    <hr>
    <h1>Incrivel computador gamer com 2gb de ram, amd 3 3200g, fonte de 350w e uma rx 580!</h1>
<%- include ('partials/footer.ejs') %>