<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>SmartWatch!</h1>

    <img src="/images/smartwatch.jpg" alt="smartwatch" width="750px" height="400px">
    <hr>
    <h1></h1>
<%- include ('partials/footer.ejs') %>