<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Homepage!</h1>
    <hr>
    <p>Iniciando estudos com node...</p>

    <!-- Importando a imagem da pasta public -->
     <img src="/images/eminem.jpg" alt="eminem concentrado" width="1920px" height="400px">
     <p> omagodu it´s eminem (>.<) </p>

<%- include ('partials/footer.ejs') %>
